#experienceSection {
    height: 100%;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding-top: 3rem;
}

.sectionTitle {
    margin: auto;
}

.listTitle {
    margin-top: 2rem;
    margin-bottom: 1rem;
}